{% extends 'layout_panel/layout_panel.html' %}
{% block title %}Cambio de contraseña{% endblock %}
{% load static %}


{% block content %}
{% include 'partials/navbar.html' %}
<section>
    <div class="container">
        <div class="row mt-2 d-flex justify-content-center">
            <div class="col col-lg-6 col-md-12 col-12">

                <form method="POST" class="card card-body border-0">{% csrf_token %}
                    {{ form }}  
                    <div class="mt-3 text-center">
                        <button class="boton_panel">Cambiar Contraseña</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}