{% extends 'layout_core/layout_core.html' %}
{% block title %} Inicio | Ex-Tenencia {% endblock %}


{% block content %}

{% include 'partials/sub_navbar.html' %}

{% if entity %}
<div class="container mt-4">
    <h1 class="titulo_index text-center">Vehiculos en custodia</h1>
    <h4 class="cantidad_vehiculos_index text-center">Cantidad {{ cantidad }}</h4>
    
    <div class="separator"></div>

    <div>
        {% include 'partials/paginador.html' %}
    </div>
    

    <div class="row">
        <table class="table table-striped table-hover table-bordered small" width="100%">
            <thead>
                <tr class="text-center">
                    <th class="col-1">P.P.U</th>
                    <th class="col-1">Marca</th>
                    <th class="col-1">Modelo</th>
                    <th class="col-1">Nro. Parte </th>
                    <th class="col-1">Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in entity %}
                    <tr class="text-center">
                        <td class="">{{ vehiculo.placa_patente }}</td>
                        <td>{{ vehiculo.marca }}</td>
                        <td>{{ vehiculo.modelo }}</td>
                        {% if vehiculo.numero_de_parte %}
                            <td>{{ vehiculo.numero_de_parte }}</td>
                        {% else %}
                            <td>No asignado</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'detalle_vehiculo' vehiculo.id %}">
                                <Button class="boton_tribunales">Ver</Button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% else %}

<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h3>No hubo resultados para su búsqueda</h3>
            <a href="{% url 'home' %}"><button class="btn btn-success mt-3">Volver</button></a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}